<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买记录</title>
</head>

<body>
    <h3 class="bar_tit">购买记录</h3>
    <br>
    <table width="80%" border="0" align="center" cellpadding="8" cellspacing="0" class="cart_table">
      <tbody><tr bgcolor="#ff7f50">
        <th width="64"></th>
        <th align="left" width="100">商品名称</th>
        <th width="80" align="center">商品价格</th>
        <th width="80" align="center">商品状态</th>
        <th width="100" align="center">商品实际售价</th>
        <th width="80" align="center">预定日期</th>
        <th width="100" align="center">取货日期</th>
        <th width="100" align="center">取货码</th>
      </tr>

      <tr>
        <td><a target="_blank" href="https://www.baidu.com/"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537199149073&di=a296af40574dbcd9b507ae1d749b11a9&imgtype=0&src=http%3A%2F%2Fimg2.soyoung.com%2Fpost%2F20141125%2F3%2F20141125104950470.jpg" class="img" width="120px" height="100px"></a></td>
        <td><a target="_blank" href="https://www.baidu.com/">大耳朵图图</a></td>

        <td align="center">$100</td>
        <td align="center">Got/Getting</td>
        <td align="center">$99.9</td>
        <td align="center">2018.9.16</td>
        <td align="center"><font color="#FF0000" size="3">2018.9.17</font></td>
        <td align="center">
            <font color="#FF0000" size="2"><label name="point_count">001</label></font>
        </td>
        <td><input id="car_id" name="car_id" type="hidden" value="63"></td>
      </tr>

	</tbody></table>

    <div class="line20"></div>
</body>
</html>