<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>捐赠记录</title>
	<link href="/static/style/home.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/static/css/Css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/Css/layout.css" />
		<script type="text/javascript" src="/static/js/Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/Js/layer/layer.js"></script>
		<script type="text/javascript" src="/static/js/Js/haidao.offcial.general.js"></script>
		<script type="text/javascript" src="/static/js/Js/select.js"></script>
		<script type="text/javascript" src="/static/js/Js/haidao.validate.js"></script>
</head>
<body>





<!--网站顶部-->
<div class="webtop">
{% include "top.html"%}
</div>

<!--搜索和导航-->
<div class="sounav">
{% include "search.html"%}
</div>



<div class="view-product">
				<div class="info-center">
		            <div class="manage-head">
		                <h6 class="padding-left manage-head-con">捐赠记录</h6>
		            </div>
		            <div class="offcial-table input-table table-margin clearfix">
		                <div class="tr-th clearfix">
		                    <div class="th w5 text-center"><!--<input class="margin-top-15" type="checkbox" />--></div>
		                    <div class="th w30"></div>
		                    <div class="th w30">商品名称</div>
		                    <div class="th w15">商品价格</div>
		                    <div class="th w20 text-center">收货时间</div>
		                </div>
						{% for donations in history_donations %}
			            	<div class="td w5 text-center"><!--<input class="margin-top-15" type="checkbox" />--></div>
		                    <div class="td w30">{{ donations.id }}</div>
		                    <div class="td w30">{{ donations.product }}</div>
		                    <div class="td w15">商品价格</div>
		                    <div class="td w20 text-center">收货时间</div>
							</br>
						</tr>
						{% endfor %}

					</div>
		        </div>
		        <div class="show-page padding-big-right hidden">
					<div class="page">
					</div>
		        </div>
			</div>




<!--网站底部-->
<div class="footer">
{% include "foot.html" %}
</div>

</body>
</html>