<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width,maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>用户中心</title>
<link href="/static/style/common.css" rel="stylesheet" type="text/css" />
<link href="/static/style/home.css" rel="stylesheet" type="text/css" />
<link href="/static/style/landed.css" rel="stylesheet" type="text/css" />
<link href="/static/style/gwc.css" rel="stylesheet" type="text/css" />
<link href="/static/style/search.css" rel="stylesheet" type="text/css" />
</head>
<script type="text/javascript" src="/static/js/openwindow.js"></script>
<script type="text/javascript"></script>
<body>
<!--网站顶部-->
<input id="productId" type="hidden" value="{product.id}">
<!--网站顶部-->
<div class="webtop">
  {% include "top.html" %}
</div>

<!--搜索和导航-->
<div class="sounav">
  {% include "search.html" %}
</div>

{% include "user_index.html" %}



<div class="footer">
  {% include "foot.html" %}
</div>

</body>
</html>
