
<!-- top5-->
<div class="link_2">
	<ul>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li><li></li>
        <li><a href="javascript:void(0);"> </a></li>
    </ul>
</div>

<div class="link_3">服务热线:400-0000-000 &emsp;010-1234567 &emsp;Email: admin@126.com<br>copyright@2018 LivingVan在线商城&emsp;版权所有&emsp; ICP备000000001号 <br>技术支持：LivingVan在线商城 <br></div>
