<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/Cooldog.js"></script>

<div class="Cooldog_container">
    <div class="Cooldog_content">
        <ul>
            <li class="p1">
                <a href="#">
                    <img src="/static/images/1.png" alt="">
                </a>
            </li>
            <li class="p2">
                <a href="#">
                    <img src="/static/images/2.png" alt="">
                </a>
            </li>
            <li class="p3">
                <a href="#">
                    <img src="/static/images/3.png" alt="">
                </a>
            </li>
            <li class="p4">
                <a href="#">
                    <img src="/static/images/4.png" alt="">
                </a>
            </li>
            <li class="p5">
                <a href="#">
                    <img src="/static/images/5.png" alt="">
                </a>
            </li>
            <li class="p5">
                <a href="#">
                    <img src="/static/images/6.png" alt="">
                </a>
            </li>
            <li class="p5">
                <a href="#">
                    <img src="/static/images/7.png" alt="">
                </a>
            </li>
        </ul>
    </div>
    <a href="javascript:;" class="btn_left"> </a>
    <a href="javascript:;" class="btn_right"></a>

</div>
