<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统登录</title>
<link href="/static/css/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="/static/css/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="/static/js/Validform_v5.3.2_min.js"></script>
<script>
$(function(){
$(".i-text").focus(function(){
$(this).addClass('h-light');
});

$(".i-text").focusout(function(){
$(this).removeClass('h-light');
});

$("#username").focus(function(){
 var username = $(this).val();
 if(username=='输入账号'){
 $(this).val('');
 }
});

$("#username").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入账号');
 }
});
$("#password").focus(function(){
 var username = $(this).val();
 if(username=='输入密码'){
 $(this).val('');
 }
});

$("#yzm").focus(function(){
 var username = $(this).val();
 if(username=='输入验证码'){
 $(this).val('');
 }
});

$("#yzm").focusout(function(){
 var username = $(this).val();
 if(username==''){
 $(this).val('输入验证码');
 }
});
$(".registerform").Validform({
	tiptype:function(msg,o,cssctl){
		var objtip=$(".error-box");
		cssctl(objtip,o.type);
		objtip.text(msg);
	},
	ajaxPost:false
});
});
</script>
</head>
<body>
<div class="header">
  <h1 class="headerLogo"><img alt="logo" src="/static/images/logo.png"></a></h1>
	<div class="headerNav">
		<a target="_blank" href="http://www.abchina.com/cn/">返回官网</a>
		<a target="_blank" href="http://www.abchina.com/cn/">意见反馈</a>	
	</div>
</div>
<div class="banner">
<div class="login-aside">
  <div id="o-box-up"></div>
  <div id="o-box-down"  style="table-layout:fixed;">
   <div class="error-box"></div>
   <form class="registerform"  method="post" action="{% url 'login' %}">
   <div class="fm-item">
	   <label for="logonId" class="form-label">账户名：</label>
	   <input type="text" placeholder="输入账号/身份证号" maxlength="100" id="username" name="username"class="i-text"  datatype="s4-18"  nullmsg="请输入帐号！" errormsg="用户名至少5个字符,最多18个字符！"  >    
       <div class="ui-form-explain"></div>
  </div>
  {% csrf_token %}
  <div class="fm-item">
	   <label for="logonId" class="form-label">登陆密码：</label>
	   <input type="password" value="" maxlength="100" id="password" name="password" class="i-text" datatype="*4-16" placeholder="请输入密码！" errormsg="密码范围在6~16位之间！">    
       <div class="ui-form-explain"></div>
  </div>
  
  
  <div class="fm-item">
	   <label for="logonId" class="form-label"></label>
	   <input type="submit" name="submit" value="" tabindex="4"  class="login"> 
       <div class="ui-form-explain"></div>
  </div>
</form>
</div>
</div>

	<div class="bd">
		<ul>
			<li style="background:url(/static/images/background.png) #CCE1F3 center 0 no-repeat;"></li>
			<li style="background:url(/static/images/bank.jpg) #CCE1F3 center 0 no-repeat;"></li>
		</ul>
	</div>

	<div class="hd"><ul></ul></div>
</div>
<script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true });</script>



<br><br><br>
<div class="footer">
   <p>银行管理系统 ， 版权所有  | Copyright 2017-2018, All Rights Reserved .</p>
</div>



</body>
</html>
