
		<meta charset="utf-8">
		<title>用户中心</title>
		<link rel="stylesheet" type="text/css" href="/static/css/Css/identify.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/Css/layout.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/Css/account.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/Css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/Css/control_index.css" />
		<script type="text/javascript" src="/static/js/Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/Js/layer.js"></script>
		<script type="text/javascript" src="/static/js/Js/haidao.offcial.general.js"></script>
		<script type="text/javascript" src="/static/js/Js/select.js"></script>
		<script type="text/javascript" src="/static/js/Js/haidao.validate.js"></script>

<div class="view-product">
				<div class="indentify clearfix">
					<div class="manage-head">
						<h6 class="padding-left manage-head-con text-sub">用户中心</h6>
					</div>
					<div class="indentify-class padding-lr clearfix">
						<ul class="class-content clearfix">
							<li class="fl margin-large-35">
							<a class="class-detail fl " href="#">
							<div class="class-detail-top">
								<div class="text-center indentify-icon">
									<img src="/static/images/tutu.jpg">
								</div>
								<h3 class="text-center">个人资料</h3>
								<p class="margin-tb padding-bottom text-justify info">
									用户基本信息
								</p>
								<ul class="class-detail-has margin-top text-lh-big">
									<li>
                                        <br>
									<span class="text-black-gray">昵称</span>
									<span class="fr text-gray-white">{{ user.username }}</span>
									</li>
									<li>
									<span class="text-black-gray">学号</span>
									<span class="fr text-gray-white">{{ user.stu_num }}</span>
									</li>
									<li>
									<span class="text-black-gray">总积分</span>
									<span class="fr text-gray-white">  </span>
									</li>
								</ul>
							</div>
							<p class="continue text-big">
                                基本资料
							</p>
							</a>
							</li>
							<li class="fl margin-large-35">
							<a class="class-detail fl " href="/history_order">
							<div class="class-detail-top">
								<div class="text-center indentify-icon">
									<img src="/static/images/tutu2.jpg">
								</div>
								<h3 class="text-center">Get</h3>
								<p class="margin-tb padding-bottom text-justify info" >
									用户购买订单
								</p>
								<ul class="class-detail-has margin-top text-lh-big">
									<li>
									<span class="text-black-gray">日期</span>
									<span class="fr text-gray-white">商品取货日期</span>
									</li>
									<li>
									<span class="text-black-gray">取货码</span>
									<span class="fr text-gray-white">用于线下兑换商品</span>
									</li>
									<li>
									<span class="text-black-gray">商品基本信息</span>
									<span class="fr text-gray-white">名称，图片，实际售价等</span>
									</li>
									<li>
									<span class="text-black-gray">商品状态</span>
									<span class="fr text-gray-white">已购买/已预订</span>
									</li>
								</ul>
							</div>
							<p class="continue text-big">
								查看
							</p>
							</a>
							</li>
							<li class="fl margin-large-35">
							<a class="class-detail fl " href="/history_donation">
							<div class="class-detail-top">
								<div class="text-center indentify-icon">
									<img src="/static/images/tutu3.jpg">
								</div>
								<h3 class="text-center">Give</h3>
								<p class="margin-tb padding-bottom text-justify info">
									用户捐赠订单
								</p>
								<ul class="class-detail-has margin-top text-lh-big">
									<li>
                                        <br>
									<span class="text-black-gray">日期</span>
									<span class="fr text-gray-white">商品收货日期</span>
									</li>
									<li>
									<span class="text-black-gray">商品基本信息</span>
									<span class="fr text-gray-white">名称，图片，价格等</span>
									</li>


								</ul>
							</div>
							<p class="continue text-big">
								查看
							</p>
							</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

